{% extends 'core/form.html' %}

{% block content %}
<h2>
    Заказ № {{order.id}}
</h2>
<p>Время создания: {{order.created_on}}</p>
<p>Информация о покупателе: {{order.name_and_phone}}</p>
<table class="cart">
    <thead>
    <tr>
        <th></th>
        <th>Товар</th>
        <th>Количество</th>
        <th>Цена за ед.</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
            <tr>
                <td>
                    <img src="{{product.link}}"
                         width="100"
                         height="100">
                </td>
                <td>{{product.name}}</td>
                <td style="">{{product.value}}</td>
                <td class="num">{{product.price}} рублей</td>
            </tr>
    {% endfor %}
    <tr class="total">
        <td>Всего</td>
        <td colspan="2"></td>
        <td class="num">{{cart.cost}} рублей</td>
    </tr>
    </tbody>
</table>
{% endblock %}