{% extends 'core/form.html' %}

{% block content %}
<h2>
    Приветствуем Вас!
</h2>
    <form action="/signup/" name="register" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Регистрация не удалась! Либо такой пользователь существует, либо данные введены неверно, проверьте поля!
        </div>
        <div>
            <button type="submit" value="Submit" style="float: left">
                <p>Завершить регистрацию</p>
            </button>
        </div>
    </form>
{% endblock %}