{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        {% block title %}
        <title>
            Каталог
        </title>
        {% endblock %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    </head>
    <body>
        <div class = "block-top">
            <div style="width: 100%;">
                <div style="float: left; width: 33%; height: 50px;">
                    <h2><a href="{% url 'core' %}">ГЛАВНАЯ</a></h2>
                </div>
                <div style="float: left; width: 33%; height: 50px;">
                    <h2><a href="{% url 'product' %}">SOCCERSHOP </a></h2>
                </div>
                <div style="float: left; width: 33%; height: 50px;">
                    <div style="float: left; width: 20%; height: 50px;">
                        <a href="{% url 'core' %}">
                        <img
                        align="middle"
                        src="https://image.flaticon.com/icons/png/512/633/633779.png"
                        title="Личный кабинет"
                        width="32"
                        height="32"
                        >
                        </a>
                    </div>
                    <div style="float: left; width: 20%; height: 50px;">
                        <a href="{% url 'cart:cart' %}">
                        <img
                        align="middle"
                        src="https://image.flaticon.com/icons/png/512/743/743155.png"
                        title="Корзина"
                        width="34"
                        height="34"
                        >
                        </a>
                    </div>
                    <div style="float: left; width: 60%; height: 50px;">
                        <h2 class="menu_s">МЕНЮ</h2>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <div class="block-bottom">
            <div style="float: left; width: 33%; height: 205px;">
            <h2>SOCCERSHOP </h2>
            </div>
            <div style="float: left; width: 33%; height: 205px;">
                <h2><a href="{% url 'core' %}">ГЛАВНАЯ</a></h2>
                <h2><a href="{% url 'product' %}">КАТАЛОГ </a></h2>
                <h2>КОНТАКТЫ</h2>
            </div>
            <div style="float: left; width: 33%; height: 205px;">
                <h2><a href="{% url 'core' %}">ЛИЧНЫЙ КАБИНЕТ</a></h2>
            </div>
        </div>
        <div>Автор иконок:
            <a href="https://www.flaticon.com/ru/authors/andrean-prabowo" title="Andrean Prabowo">Andrean Prabowo</a>
            from
            <a href="https://www.flaticon.com/ru/" title="Flaticon">www.flaticon.com</a>
        </div>
    </body>
</html>
